* { padding: 0; margin: 0; }

.padding {
	padding: 25px;
}

body {
	font-family: 'Droid Sans', Tahoma, serif;
	line-height: 1.7;
	font-size: 13px;
	color: rgb(76,69,61);
	background-color: rgb(195,198,203);
}

p { 
	text-align: justify; 
}

code, pre {
	font-family: 'Droid Sans Mono', sans-serif;
	color: rgb(148,38,33);
	font-size: .95em;
	background-color: rgb(239,236,229);
}

pre {
	margin: 1em 0;
	line-height: 1.3em;
	border: rgb(130,137,152);
	padding: 0.5em 1em;
	box-shadow: 1px 1px 3px rgb(196,191,185);
	-webkit-box-shadow: 1px 1px 3px rgb(196,191,185);
	-moz-box-shadow: 1px 1px 3px rgb(196,191,185);
	border-bottom-right-radius: 5px;
}

big {
	font-size: 2.8em;
	letter-spacing: 1px;
}

a {
	color: rgb(130,137,152);
}
#header {
	background-color: white;
}


#header h1 {
	color: rgb(148,38,33);
	font-family: 'Nova Flat', cursive;
	text-shadow: 0px 1px 2px rgb(196,191,185);
}

#header p {
	color: rgb(162,155,142);
	font-size: 11px;
	font-style: italic;
	padding: 0px;
}

#subtitle {
	font-size: 14px;
	font-weight: bold;
	font-style: normal;
	margin-left: .3em;
}


#content {
	line-height: 1.1em;
	background-color: white;
	width: 600px;
	margin-top: -5px;
        box-shadow: 1px 1px 3px rgb(130,137,152);
        -webkit-box-shadow: 1px 1px 3px rgb(130,137,152);
        -moz-box-shadow: 1px 1px 3px rgb(130,137,152);
	border-bottom-right-radius: 5px;
}

#content ul, ol {
	list-style-position: inside;
	padding-bottom: 1em;
	padding-left: 1.5em;
}

#content h1 {
	line-height: 1.5em;
	font-size: 1.6em;
}

#content h2 {
	padding-bottom: .75em;
	padding-top: .8em;
	line-height: 1em;
}

#content p {
	padding-bottom: 1.5em;
}

#sidebar {
	border-bottom-right-radius: 5px;
	box-shadow: 1px 1px 3px rgb(130,137,152);
        -webkit-box-shadow: 1px 1px 3px rgb(130,137,152);
        -moz-box-shadow: 1px 1px 3px rgb(130,137,152);
	background-color: rgb(238,236,230);
	float: right;
	margin-left: 600px;
	position: fixed;
	list-style-position: inside;
}

#sidebar ul, ol {
	line-height: 1.5em;
	padding: 0;
	position: relative;
}

#sidebar ul {
	list-style-type: none;
}

#sidebar a {
	color: rgb(148,38,33);
	display: block;
	text-decoration: none;
	padding: 0 2em;
}

#sidebar a:hover {
	background-color: rgb(130,137,152);
	color: white;
}

#last a {
	border-bottom-right-radius: 5px;
}

#sidebar ol li:hover {
	color: white;
}

a#home {
	background-color: rgb(130,137,152);
	color: white;
	margin-top: .25em;
	padding: 0;
}

a:hover#home {
	color: rgb(148,38,33);
}

#footer {
	clear: both;
}
