
		<b><a id="home" href="<%= @config[:baseurl] %>/">&nbsp;Home</a></b>
<ul>
		<li>&nbsp;Getting Started</li>
			<ul>
				<li><a href="<%= @config[:baseurl] %>/introduction/">Introduction</a></li>
				<li><a href="<%= @config[:baseurl] %>/reasoning/">Reasoning</a></li>
			</ul>
		<li>&nbsp;Topics</li>
			<ul>
				<li><a href="<%= @config[:baseurl] %>/topics/navigation/">1. Navigating the Filesystem</a></li>
				<li><a href="<%= @config[:baseurl] %>/topics/command_anatomy/">2. Anatomy of a Command</a></li>
				<li><a href="<%= @config[:baseurl] %>/topics/redirection/">3. Redirection</a></li>
				<li><a href="<%= @config[:baseurl] %>/topics/shell_survival_guide/">4. Shell Survival Guide</a></li>
				<li><a href="<%= @config[:baseurl] %>/topics/scripting/">5. Scripting</a></li>
			</ul>
		<li>&nbsp;Tools of the Trade<li>
			<ul>
				<li><a href="<%= @config[:baseurl] %>/tools/vim/">Vim</a></li>
				<li><a href="<%= @config[:baseurl] %>/tools/git/">Git</a></li>
				<li><a href="<%= @config[:baseurl] %>/tools/ruby/">Ruby</a></li>
				<li><a href="<%= @config[:baseurl] %>/tools/gpg/">GPG</a></li>
			</ul>
		<li>&nbsp;Etc.</li>
			<ul>
				<li><a href="<%= @config[:baseurl] %>/grabbag/">Grab Bag</a></li>
				<li><a href="<%= @config[:baseurl] %>/challenges/">Challenges</a></li>
				<li id="last"><a href="<%= @config[:baseurl] %>/TODO/">TODO</a></li>
			</ul>
	</ul>
