	
		<b><a id="home" href="/">&nbsp;Home</a></b>
<ul>
		<li>&nbsp;Getting Started</li>
			<ul>
				<li><a href="/topics/intro_shell/">Introduction</a></li>
				<li><a href="/preamble/">Preamble</a></li>
			</ul>	
		<li>&nbsp;Topics</li>
			<ul>
				<li><a href="/topics/navigation/">1. Navigating the Shell</a></li>
				<li><a href="/topics/command_anatomy/">2. Anatomy of a Command</a></li>
				<li><a href="/topics/redirection/">3. Redirection</a></li>
				<li><a href="/topics/shell_survival_guide/">4. Shell Survival Guide</a></li>
				<li><a href="/topics/scripting/">5. Scripting</a></li> 
			</ul>
		<li>&nbsp;Tools of the Trade<li>
			<ul>
				<li><a href="/tools/vim/">Vim</a></li>
				<li><a href="/tools/git/">Git</a></li>
				<li><a href="/tools/ruby/">Ruby</a></li>
			</ul>
		<li>&nbsp;Etc.</li>
			<ul>
				<li><a href="/grabbag/">Grab Bag</a></li>
				<li id="last"><a href="/TODO/">TODO</a></li>
			</ul>
	</ul>	
