
		<b><a id="home" href="<%= @config[:baseurl] %>/">&nbsp;Home</a></b>
<ul>
		<li>&nbsp;Getting Started</li>
			<ul>
				<li><a href="<%= @config[:baseurl] %>/introduction/">Introduction</a></li>
				<li><a href="<%= @config[:baseurl] %>/reasoning/">Reasoning</a></li>
			</ul>
		<li>&nbsp;Topics</li>
			<ul>
                                <%= build_nav("/topic", :format => "%s. %s", :fields => [:order, :title]) %>
			</ul>
		<li>&nbsp;Tools of the Trade<li>
			<ul>
				<li><a href="<%= @config[:baseurl] %>/tools/vim/">Vim</a></li>
				<li><a href="<%= @config[:baseurl] %>/tools/git/">Git</a></li>
				<li><a href="<%= @config[:baseurl] %>/tools/ruby/">Ruby</a></li>
				<li><a href="<%= @config[:baseurl] %>/tools/gpg/">GPG</a></li>
				<li><a href="<%= @config[:baseurl] %>/tools/keychain/">Keychain</a></li>
			</ul>
		<li>&nbsp;Etc.</li>
			<ul>
				<li><a href="<%= @config[:baseurl] %>/grabbag/">Grab Bag</a></li>
				<li><a href="<%= @config[:baseurl] %>/challenges/">Challenges</a></li>
				<li id="last"><a href="<%= @config[:baseurl] %>/TODO/">TODO</a></li>
			</ul>
	</ul>
